<div class="container">

    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4 shop-color">YoungGallery</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Beeldende kunst</a>
          <a href="#" class="list-group-item">Schilderkunst en tekenkunst</a>
          <a href="#" class="list-group-item">Fotografie</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#FirstArtPiece" data-slide-to="0" class=""></li>
            <li data-target="#SecondArtPiece" data-slide-to="1" class=""></li>
            <li data-target="#ThirdArtPiece" data-slide-to="2" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% @art_pieces.each do |art_piece| %>
              <div class="carousel-item">
                <%=image_tag("#{art_piece.image_url}", ,
                 alt: "#{art_piece.name}", class="d-block img-fluid")%>
              </div>
            <% end %>
            <div class="carousel-item active carousel-item-left">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
            <div class="carousel-item carousel-item-next carousel-item-left">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
