<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Sponsored</th>
    </tr>
  </thead>
  <tbody>
  <% @coinlists.each do |coin| %>
    <tr>
      <th scope="row"><%= coin.id %></th>
      <td><%= coin.name %></td>
      <td><%= coin.symbol %></td>
      <td><%= coin.sponsored %></td>
    </tr>
    <% end %>
  </tbody>
</table>
