// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_info {
  margin-top: 30px
}


.user-artpieces {
  margin-top: 2em;
  font-size: x-large;
}

.btn-yc {
  background-color: #F77F00;
}

.no-artpieces {
  margin-left: 1em;
  font-weight: bold;
}
